################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Job-Board/.vs/Job-Board/FileContentIndex/2ccbe89d-9622-46d9-85e1-d0c9d597cf7b.vsidx
/Job-Board/.vs/Job-Board/FileContentIndex/a357202c-b0fa-40a7-8178-f3c4bbe3a0f4.vsidx
/Job-Board/.vs/Job-Board/FileContentIndex/0f329f60-c494-45aa-85a1-58001707a869.vsidx
/Job-Board/.vs/Job-Board/FileContentIndex/b82878ae-a0cf-49d7-b556-4cdb9bcb8855.vsidx
/Job-Board/.vs/Job-Board/v17/TestStore/0/014.testlog
/Job-Board/JobBoard.UnitTest/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
/Job-Board/JobBoard.UnitTest/bin/Debug/net6.0/Swashbuckle.AspNetCore.Filters.Abstractions.dll
/Job-Board/JobBoard.UnitTest/bin/Debug/net6.0/Scrutor.dll
/Job-Board/JobBoard.UnitTest/bin/Debug/net6.0/Swashbuckle.AspNetCore.Filters.dll
/Job-Board/.vs/Job-Board/v17/TestStore/1/014.testlog
/Job-Board/.vs/Job-Board/v17/TestStore/1/testlog.manifest
/Job-Board/.vs/Job-Board/FileContentIndex/49ee90c1-507f-47cd-8760-da03cf516e4c.vsidx
/Job-Board/.vs/Job-Board/FileContentIndex/bfef3f11-eaf4-4200-b8a5-20bb529c623f.vsidx
